/* Colors */
$primary-green: #1db954;
$dark-background: #1e1e1e;
$text-dark: #b3b3b3;
$text-light: #fff;

/* Font Sizes */
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-size-x-small: 15px;
$font-size-x-small-description: 12px;

/* Padding & Spacing */
$padding-large: 20px;
$padding-medium: 10px;
$padding-small: 5px;

/* Margin & Gap */
$margin-large: 20px;
$margin-medium: 10px;
$margin-small: 5px;
$gap-large: 20px;
$gap-medium: 10px;
$gap-small: 5px;

/* Width & Height */
$width-large: 150px;
$width-medium: 120px;
$width-small: 80px;
$width-xsmall: 40px;

$height-large: 150px;
$height-medium: 120px;
$height-small: 80px;
$height-xsmall: 40px;

/* Box Shadows */
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0 4px 10px rgba(0, 0, 0, 0.3);

/* Transition */
$transition-speed: 0.3s;

/* Animations */
$floating-animation-duration: 3s;
$fade-in-duration: 0.5s;
