@use "../assets/scss/variables" as *;

.card {
  display: flex;
  flex-direction: row;
  background-color: $dark-background;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform $transition-speed ease-in-out;
  max-width: 500px;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }

  &__image-wrapper {
    width: $width-large;
    height: $height-large;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__info {
    padding: $padding-small;
    color: $text-light;
    width: 100%;
    height: $height-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__title {
    font-size: $font-size-x-small;
    font-weight: bold;
    margin: $margin-small 0 $margin-small 0;
  }

  &__description {
    font-size: $font-size-x-small-description;
    color: $text-dark;
  }

  /* Responsive Layout */
  @media (min-width: 768px) {
    .card {
      flex-direction: column;
      max-width: 500px;
    }

    .card__image-wrapper {
      height: $height-large;
    }

    .card__info {
      height: $height-large;
    }

    .card__info {
      padding: 15px;
    }

    .card__title {
      font-size: 20px;
    }

    .card__description {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .card {
      flex-direction: column;
    }

    .card__image-wrapper {
      height: $height-large;
    }

    .card__info {
      height: $height-large;
    }
  }
}
