@use "../assets/scss/variables" as *;

.playlist {
  width: 400px;
  max-width: 90vw;
  padding: $padding-large;
  background: $primary-green;
  margin: 20px;
  height: 50vh;
  color: $text-dark;
  text-align: center;
  border-radius: 20px;
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow-light;
  animation: floatingEffect $floating-animation-duration ease-in-out infinite;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  @keyframes floatingEffect {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &__title {
    font-size: $font-size-large;
    margin-bottom: $padding-large;
    max-width: 300px;
    font-weight: bold;
    text-align: center;
    color: $text-light;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo,
  &__back {
    position: absolute;
    top: $padding-large;
    width: $width-xsmall;
    height: $height-xsmall;
  }

  &__logo {
    right: $padding-large;
  }

  &__back {
    left: $padding-large;
  }

  &__tracks {
    display: grid;
    gap: $gap-small;
    padding: $padding-large;
    animation: fadeIn $fade-in-duration ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 470px) {
    width: 80vw;
    &__title {
      font-size: $font-size-medium;
      max-width: 150px;
    }

    &__container {
      align-items: center;
    }
  }
}
